module.exports = {
    producction: false,
    PORT: PORT,
    databaseType: databaseType,
    databaseName: databaseName,
    databaseUser: databaseUser,
    databasePassword: databasePassword,
    databaseHost: databaseHost,
    databasePort: databasePort,
    databaseTestConexion: false,
    ciudadDefecto: 'Cualquiera',
    secretKey: secretKey,
    nombreSistema: 'prueba123',
}