module.exports = {
    produccion: false,          // Establece a true para el entorno de producción
    PUERTO: 3000,               // Elige un puerto adecuado para tu aplicación
    tipoBaseDeDatos: 'tu_tipo_de_db',      // Ejemplo: 'mysql' o 'postgresql'
    nombreBaseDeDatos: 'tu_nombre_de_db',  // Nombre de tu base de datos
    usuarioBaseDeDatos: 'tu_usuario_db',   // Usuario de tu base de datos
    contraseñaBaseDeDatos: 'tu_contraseña_db',  // Contraseña de tu base de datos
    hostBaseDeDatos: 'localhost',            // Host de tu base de datos
    puertoBaseDeDatos: 5432,                  // Puerto de tu base de datos
    testConexionBaseDeDatos: false,           // Establece a true para probar la conexión a la base de datos
    ciudadDefecto: 'Cualquiera',              // Ciudad por defecto
    claveSecreta: 'tu_clave_secreta',         // Tu clave secreta para autenticación
    nombreSistema: 'prueba123',               // Nombre de tu sistema
}
